*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

td {
  word-wrap:break-word;
  word-break:break-word;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
    margin-top: 30px;
}

h2{
	text-align: center;
}

img{
	height: 200px;
	display: block;
	margin-bottom: 10px;
}

#a{
	height: 400px;
	display: inline-block;
	vertical-align: top;
	margin-top: 30px;
}

.accordian_heading{
	background-color: #337ab7 !important;
}

#add_house{
	margin-left: 45%;
	margin-top: 15px;
}

#all_houses{
	float: right;
	/*margin-right: 5%;*/
	margin-bottom: 10px;
}

.all_houses{
	width: 100%;
	margin: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.all_houses .house{
	/*width: 250px;*/
	border: 2px solid black;
	padding: 0px;
	/*margin-left: 20px;*/
	margin-top: 10px;	
	margin: auto;
	display: inline-block;
	text-align: left;
	margin-right: 5px;
    margin-bottom: 5px;
}

.all_houses div div{
	margin-left: 0px;
	margin-top: 0px;
	border: 0px solid black;
	width: auto;
}

.all_houses div p{
	padding-left: 5px;
	padding-top: 5px;
	background-color: #eee;
	margin-bottom: 0px;
	padding-bottom: 5px;
}

.all_houses .glyphicon-remove{
	color: white;
	font-size: 13px;
	float: right;
}

.bg-primary{
	padding: 5px;
	margin: 0px;
}

#blue{
	background-color: #337ab7;
}

#delete_button{
	margin-left: 45%;
	margin-bottom: 20px;
}

.details{
	display: block;
	background-color: #eee;
	padding-left: 5px;
	padding-bottom: 5px;
}

#footer{
	display: fixed;
	height: 100px;
	background-color: rgba(169, 68, 66, 0.84);
	margin-top: 200px;
}

.google_image{
	display: inline;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	float: right;
	margin-top: 5px;
	margin-right: 5px;
}

#house_table{
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-left: 15%;
	margin-right: 10%;
	margin-top: 30px;
}

.navbar{
	background-color: rgba(169, 68, 66, 0.84);
	height: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

.navbar a{
	color: white;
	font-size: 16px;
}

.navbar #logo{
	font-family: monospace;
	font-weight: 300;
	font-size: 22px;
}

.navbar .glyphicon{
	margin-right: 7px;
}

.navbar .navbar-toggle{
	background-color: #337ab7;
}

.navbar .icon-bar{
	background-color: white;
}

.navbar-brand,
.navbar-nav li a {
    padding-top: 0;
}

.navbar-inner {
    min-height: 0px;
}

.panel-group{
	margin-top: 50px;
	width: 600px;
	margin: auto;
}

.panel-group .px{
	font-size: 20px !important;
}

#search_box{
	width: 300px;
	margin-left: 0px;
	margin-top: 10px;
}

#search_box input{
	display: inline;
	width: 200px;
	margin-left: 5px;
}

#search_box span{
	font-size: 22px;
	margin-left: 5px;
	color: #337ab7;
}

#submit_button{
	margin-left: 67%;
}

.white{
	color: white !important;
}

@media (max-width: 300px){
	.google_image{
		width: 50px;
		height: 50px;
	}
}
@media (max-width: 480px) {

	.panel-group{
		width: 100%;
		margin: auto;
	}	

}
@media (max-width: 600px) {
	.panel-group{
		width: 100%;
		margin: auto;
	}

}

@media (max-width: 768px) {

	.navbar #logo{
	font-family: monospace;
	font-weight: 300;
	font-size: 22px;
	}

}

@media (max-width: 920px) {
	.navbar a{
	color: white;
	font-weight: normal;
	font-size: 13px;
	}

	.navbar #logo{
	font-family: monospace;
	font-weight: normal;
	}

	.navbar .glyphicon{
		margin-right: 7px;
	}
}
/*mobile*/
@media only screen and (max-width: 479px) {
    .twelve-s { width: 100%; }
    .all_houses{
    	padding: 0px;
    }
    .all_houses .house{
    	margin-right: 0px;
    	margin-bottom: 0px;
    }

}

@media only screen and (min-width: 480px) {
    .twelve-s { width: 80%; }

}
/*tablet*/
@media only screen and (min-width: 531px) {
    .six-m { width: 49%; }
}
/* Small laptop screens */
@media only screen and (min-width: 768px) {
    .four-l { width: 32%; }
}
/* Medium laptop screens */
@media only screen and (min-width: 1000px) {
    .three-l { width: 24.5%; }
    .all_houses .house{
    	margin-right: 5px;
    	margin-bottom: 5px;
    }
}
/* Large laptop screens */
@media only screen and (min-width: 1200px) {
  
}


